body {
    background: linear-gradient(45deg, black, darkblue);
}

.imagem {
    background: url(./grupo_jovens/assets/img/rafaelEjulia.jpeg) no-repeat center / cover ;
    border-radius: 100%;
    height: 300px;
    margin: 0 auto;
    width: 300px;