body {
    background:linear-gradient(90deg, black, darkblue); 
}

.imagem {
    background: url(../projetos/grupo_jovens/assets/img/alfa.png) no-repeat center / cover ;
    border-radius: 100%;
    height: 300px;
    margin: 0 auto;
    width: 300px;
}